h3{
  padding: 10px;
  margin: auto;
  align-items: center;
  text-align: center;
}

/*form{
  margin-left:15% ;
  margin-right: 15%;
  padding: 0%;

}*/

#btnPesquisaData{
  background-color: darkslategray;
  color:azure;
  font-family: arial;

}


#btnPesquisaData:hover{
  background-color: darkgray;
  color:azure;
  font-family: arial;

}


iframe{
  width: 100%;
  height: 500px;

}
