
<nav class="navbar navbar-expand-lg  navbar-dark  bg-primary" [hidden]="esconderbarra()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/listausuarios']" routerLinkActive="router-link-active" >Lista de Usuários</a></li>
            <li><a class="dropdown-item" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" >Cadastro de Usuários</a></li>
            <li><a class="dropdown-item" [routerLink]="['/usuariosrelatorios']" routerLinkActive="router-link-active" >Relatórios de Usuários</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/graficousuarios']" routerLinkActive="router-link-active"  >Gráfico Usuários</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sair()">Sair</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
